black==25.1.0           # Linting tool, if changed update pyproject.toml as well
flake8==7.1.1           # Linting tool, if changed update pyproject.toml as well
Flake8-pyproject==1.2.3 # Linting tool, if changed update pyproject.toml as well
isort==6.0.0            # Linting tool, if changed update pyproject.toml as well
tox                     # Used for unit tests
requests